h1 {
    color: rgb(175, 241, 219);

    font-size: 15pt;
    /* pt: ν¬μΈνΈ */
    font-weight: 900;
}

p {
    line-height: 50px;
    letter-spacing: 10px;
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 30px;
    text-shadow: 2px 2px 0px rgb(130, 33, 240);
}

a {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li {
    list-style-type: none;
}